@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #10212B;
    z-index: 100;
}

#logo{
    position: absolute;
    left:30%;
    top: -7px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
